<form class='command form-inline' {{action 'submitCommand' on='submit'}}>

    {{view Ember.Select contentBinding='commandList'
                        valueBinding='model.command'
                        prompt='Select an EIDB command'
                        class='form-control input-sm'
                        id='command-select'}}

    {{#if model.command}}
        {{#each attr in model.attributes}}
            {{view 'command_param_input' class='form-group'
                                         modelBinding=model
                                         valueBinding=attr.value
                                         placeholderBinding=attr.name}}
        {{/each}}
    {{/if}}

    <button type='submit'>Go</button>
</form>

{{#if errors}}
<ul>
    {{#each error in errors}}
        <li class='alert alert-danger'>{{error.name}} {{error.value}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if result}}
<div id="command-result" class="alert alert-success" {{action 'hideResult'}}>
    Command result: <pre><code>{{unbound result}}</code></pre>
</div>
{{/if}}
