<form class='command form-inline' {{action 'submitCommand' on='submit'}}>

    {{view Ember.Select contentBinding='commandList'
                        valueBinding='model.command'
                        prompt='Select an EIDB command'
                        class='form-control input-sm'
                        id='command-select'}}

    {{#if model.command}}
        {{#each param in model.params}}
            {{view 'command_param_input' class='form-group'
                                         modelBinding=model
                                         placeholderBinding = param}}
        {{/each}}
    {{/if}}

    <button type='submit'>Go</button>
    {{#if errors}}
    <ul>
        {{#each error in errors}}
            <li class='alert alert-danger'>{{error.name}} {{error.value}}</li>
        {{/each}}
    </ul>
    {{/if}}
</form>
