<hr>
{{#if browserListsDbs}}
    {{#if controller.content}}
        <h3>Existing Databases</h3>
        <p>(Should work in Chrome Canary.)</p>
        <button {{action 'deleteAllDbs'}}>Delete All Databases</button>
        <ol>
        {{#each db in controller}}
            <li>{{#linkTo 'stores' db.id}}{{db.id}}{{/linkTo}} <button {{action 'deleteDb' db.id}}>Delete</button></li>
        {{/each}}
        </ol>
    {{else}}
        <p>No databases found.</p>
    {{/if}}
{{else}}
    <p>This browser doesn't support listing of existing databases. Try Chrome Canary instead.</p>
{{/if}}