<div class="search">
    Search: {{view Ember.Select contentBinding="recordAttributes"
                                valueBinding="searchAttr"}}
    {{view Ember.TextField valueBinding="eqValue"
                           placeholder='Find an exact value'}}
    or
    {{view Ember.TextField valueBinding="matchValue"
                           placeholder="Use a regular expression"}}
    Number of records: {{content.length}}
</div>

<div class="values">
    <div class="col-sm-6 col-md-8">
        <ol>
        {{#each record in content}}
            <li>
                <div class="row">
                    {{#if record.isEditing}}

                        <button type='button' class='btn btn-success btn-sm'>Save</button>
                    {{else}}
                        <pre class='col-sm-5 col-md-8'>{{formatJSON record}}</pre>
                        <button {{action 'editRecord' record}} type='button' class='btn btn-primary btn-sm'>Edit</button>
                    {{/if}}
                    <button {{action 'deleteRecord' record}} type='button' class='btn btn-danger btn-sm'>Delete</button>
                </div>
            </li>
        {{/each}}
        </ol>
    </div>
</div>

