<ul class="nav nav-pills">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'mockup'}}Mockup{{/link-to}}</li>
    <li><a {{action 'generateExample'}}>Create some data</a></li>
    <li id='command-form-li'>
        {{command-form action = 'markCommandSubmitted'
                       commandListVisible = commandListVisible
                       currentDbName = currentDbName
                       currentStoreName = currentStoreName
                       commandResulted = "markCommandResulted"}}
    </li>
    {{#if errorMessage}}
      <li class='alert alert-danger'>{{errorMessage}}</li>
    {{/if}}

    {{#if notifyMessage}}
      <li class='alert alert-info'>{{notifyMessage}}</li>
    {{/if}}
</ul>

<div class="row">
  <section class="tree col-md-2">
    {{partial "tree"}}
  </section>

  <section class="details col-md-10'">
    {{outlet}}
  </section>
</div>
